# backend/.env:
# google Oauth details - backend/.env:


APP_NAME=AuthService
ENVIRONMENT=dev
DEBUG=true

# easiest: SQLite
DATABASE_URL=sqlite:///./auth.db


JWT_ACCESS_SECRET=2ef2ee2e656ab15820ba9a32dc520e87f70f2d8dcf7f7dd478578b7072cf1daea547d8714cc8d8517855355c1e521fa30ac2370c9be4ab0fdae29d78e7a05769
JWT_REFRESH_SECRET=2ef2ee2e656ab15820ba9a32dc520e87f70f2d8dcf7f7dd478578b7072cf1daea547d8714cc8d8517855355c1e521fa30ac2370c9be4ab0fdae29d78e7a05769
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

BACKEND_CORS_ORIGINS=http://localhost:3000
FRONTEND_URL=http://localhost:3000

EMAIL_FROM=no-reply@example.com

EMAIL_FROM=yourapp@example.com

# SMTP (REAL EMAIL)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=annasouz29@gmail.com
SMTP_PASSWORD=iwmb zwsi nbrb ebqf
SMTP_USE_TLS=true

# Google OAuth
# GOOGLE_CLIENT_ID=#

# new - Google OAuth
GOOGLE_CLIENT_ID=#